@import "tailwindcss";
body{
  font-family: Helvetica, sans-serif;
  background: linear-gradient(0deg, rgba(0,0,0, 0.9) 15%, rgb(202, 202, 202) 100%);
}
@layer components{
  .button-white{
    @apply bg-linear-to-b from-gray-300 to-gray-400 shadow-2xl text-black text-lg py-3 px-6 w-fit rounded-3xl hover:bg-gray-400;
  }
  .button-dark{
    @apply bg-linear-to-b from-black/90 to-black shadow-2xl text-white text-lg py-3 px-6 w-fit rounded-3xl hover:bg-black/80;
  } 
  .brand-name{
    font-family: "Dancing Script", cursive;
  }
  .button{
    @apply bg-linear-to-b from-white/15 to-white/2 py-3 px-4 rounded-xl shadow-2xl cursor-pointer hover:from-white/2 hover:to-white/15 duration-500
  }
  .slider-track{
    width: max-content;
    animation: scroll 25s linear infinite;
  }

  .slider-track:hover{
    animation-play-state: paused;
  }
}

@keyframes scroll{
  from{
    transform: translateX(0);
  }

  to{
    transform: translateX(-50%);
  }
}
